.btn{
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:active{
    transform: scale(.9);
}

.logIn, .addArt {
    background-color: var(--primary);
    color: var(--component-bg);
}

.signIn, .logOut{
    color: var(--body);
}