.arts{
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

h2{
    margin: 20px 0;
}

.cardList{
    margin: auto;
    padding: 30px;
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    border-radius: 15px;
    background-color: var(--brown);
    overflow: hidden scroll;
}
