.header{
    width: 90%;
    padding: 16px 32px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px var(--primary);
}

.buttons{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

