.header{
    width: 90%;
    padding: 16px 32px;
    background: var(--background);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.buttons{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

