.navbar{
    height: 90vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px var(--primary);
    background-color: white;
}

.icons{
    width: 32px;
    height: 32px;
    padding: 16px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.icon:active{
    transform: scale(.9);
}

.art{
    background-color: var(--brown);
    width: 20px;
    height: 20px;
}