.navbar{
    width:5%;
    height: 91vh;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--shadow);
    background-color: var(--component-bg);
}

.icons{
    width: 30px;
    height: 30px;
    padding: 16px;
    font-size: 30px;
    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
}

.icons:active{
    transform: scale(.9);
}

.active{
    background-color: var(--primary);
    color: var(--component-bg);
}
