@import './utils/_variables.css';

body{
  margin: 0;
  background-color: var(--background);
}

h1, h2{
  font-family: 'Spectral', serif;
}

h1{
  font-size: 48px;
  font-weight: 700;
  color: var(--text);
}

h2{
  font-size: 18px;
  font-weight: 400;
}

p, span{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

p{
  font-weight: 400;
}

span{
  font-weight: 600;
}